:root {
    --azul-oscuro: #003366;
    --azul-medio: #0077B6;
    --azul-claro: #E6F0FF;
    --azul-muy-claro: #c6e6ff;
    --azul-fondo: #b7dfff;
    --texto-claro: #FFFFFF;
    --texto-oscuro: #333333;
    --gris-bordes: #ddd;
}

* {
   box-sizing: border-box;
}
body {
   margin: 0;
   background-color: #F5F5F5;
   color: var(--texto-oscuro);
   line-height: 1.6;
}
/* ====================== Nav ====================== */
a {
    text-decoration: none;
    color: inherit;
}
ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #162171;
   padding: 15px 30px;
}
nav .logo {
   height: 50px;
}
nav ul {
   display: flex;
   gap: 25px;
}
nav ul li a {
   color: var(--texto-claro);
   font-weight: bold;
   padding: 8px 15px;
}
nav ul li a:hover {
   background-color: var(--azul-oscuro);
}
.login{
   background-color: #0077B6;
   padding: 10px;
   color: white;
   border-radius: 40px;
}
/* ====================== Header ====================== */
.hero {
   height: 500px;
   background: url("../img/blog-2.png") center/cover no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;
}
.hero h1 {
   font-size: 3.5rem;
   margin: 0;
}
.hero h4 {
   font-size: 2rem;
   margin-top: 10px;
}
  .i{
   background: url("../img/fondo-banner-blog-memphis-tono-tierra_53876-114358.avif") center/cover no-repeat;
}
/* ====================== CONTACTO ====================== */
.contactanos{
   display: flex;
   justify-content: space-around;
   margin: 50px;
}
form {
   max-width: 600px;
   background: white;
   padding: 40px;
   border-radius: 15px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
form label {
   display: block;
   margin-top: 15px;
   font-weight: bold;
}
form input, form textarea {
   width: 100%;
   padding: 12px;
   margin-top: 8px;
   border: 1px solid #ccc;
   border-radius: 6px;
}
form textarea {
resize: none;
}
form button {
   margin-top: 20px;
   background: var(--azul-medio);
   color: white;
   padding: 12px 30px;
   font-size: 1.1rem;
}
form input{
    margin-right: 200px;
}
iframe{
    width: 100%;
    height: 60%;
}
.map{
   background: white;
   height: 600px;
   padding: 40px;
   border-radius: 15px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
   
/* ====================== FOOTER ====================== */
footer {
   background: #0E1422;
   color: white;
   padding: 40px 10%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 30px;
   text-align: center;
}
footer .logo {
   height: 100px;
}
footer .red {
   width: 40px;
   margin: 0 10px;
}
.redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
