<<<<<<< HEAD

:root {
=======
:root {
<<<<<<< HEAD
>>>>>>> f1ce1b56036f0cdf3e9514ed997708fff39e59a3
       --azul-oscuro: #003366;
       --azul-medio: #0077B6;
       --azul-claro: #E6F0FF;
       --azul-muy-claro: #c6e6ff;
       --azul-fondo: #b7dfff;
       --texto-claro: #FFFFFF;
       --texto-oscuro: #333333;
       --gris-bordes: #ddd;
   }
<<<<<<< HEAD

   * {
       box-sizing: border-box;
   }
   body {
       margin: 0;
       background: var(--gris-bordes);
       color: var(--texto-oscuro);
       line-height: 1.6;
   }

   a {
       text-decoration: none;
       color: inherit;
   }
   ul {
       list-style: none;
       padding: 0;
       margin: 0;
   }

   nav {
       display: flex;
       justify-content: space-between;
       align-items: center;
       background-color: var(--azul-medio);
       padding: 15px 30px;
   }
   nav .logo {
       height: 60px;
   }
   nav ul {
       display: flex;
       gap: 25px;
   }
   nav ul li a {
       color: var(--texto-claro);
       font-weight: bold;
       padding: 8px 15px;
   }
   nav ul li a:hover {
       background-color: var(--azul-oscuro);
   }

    .logo{
    border-radius: 50%;
    object-fit: cover;
    }

    .hero{
       height: 500px;
       background: url("../img/empresas.jpg") center/cover no-repeat;
=======
body{
    margin: 0px;
    padding: 0px;
    background-color: #C6E6FF;
}
.lista{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.lista ul{
    background-color: #0077B6;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.lista ul li{
    padding: 40px;
}
.lista ul li .ini{
    padding: 0px;
}
.lista ul li:hover{
    background-color: #0077B6;
}
.lista ul li a{
    text-decoration: none;
    color: white;
}
.inicio{
    margin-left: 380px;
    font-size: 20px;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 1000px;
    margin-top: 80px;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}
.texto{
    display: flex;
}
.EkinIA{
    width: 20%;
    margin-left: 380px;
    margin-top: 100px;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}

.EkinIA p{
    font-size: 20px;
}
.EkinIA ul li{
    font-size: 20px;
}
.EkinIA img{
    width: 400px;
    margin-bottom: 130px;
    margin-top: 20px;
    border-radius: 10px;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.texto .EkinIA .leer1{
    border: 2px solid #0077B6;
    color: #0077B6;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    text-decoration: none;    
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);  
}
.texto .EkinIA .leer1:hover{
    background: #0077B6;
    color: white;
}
.ekin{
    width: 20%;
    margin-left: 100px;
    margin-top: 100px;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}
.ekin p{
    font-size: 20px;
}
.ekin img{
    width: 400px;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.texto .ekin .leer2{
    border: 2px solid #0077B6;
    background-color: white;
    color: #0077B6;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.texto .ekin .leer2:hover{
    background: #0077B6;
    color: white;
}
.menu {
       height: 500px;
       background: url("../img/HerramientasIA.jpg") center/cover no-repeat;
>>>>>>> f1ce1b56036f0cdf3e9514ed997708fff39e59a3
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       color: white;
       text-align: center;
<<<<<<< HEAD
   }
   .hero h1{
       font-size: 3.5rem;
       margin: 0;
   }
   .hero h5{
       font-size: 2rem;
       margin-top: 10px;
   }

   /* ====================== PRODUCTOS Y SERVICIOS ====================== */

   main.primermain{
    display: flex;
    justify-content: center;   
   }

   .estrella{
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        width: 1100px;
        margin-bottom: 90px;
   }

   .estrella .primero h2{
    margin-top: 0px;
    margin-right: 633px;
   }

   .estrella .primero h4{
    color: #0077B6;
    margin-top: 0px;
    margin-bottom: 0px;
   }

   .estrella .primero p{
    font-size: 19px;
   }

   .segundo{
    padding-left: 10px;
    border-left: solid #0077B6 4px;
   }

   .estrella .segundo p{
    font-size: 17px;
   }

   .estrella .tercero p{
    font-size: 17px;
   }

   .boton{
    display: inline-block;
    background: var(--azul-medio);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 10px;
   }

   .boton:hover{
    background-color: #003366;
   }

   .asistente{
    background-color: #0077B6;
    padding: 50px;
    margin-top: 80px;
    margin-bottom: 170px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   }

   .asistente .cuarto{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
   }

   .asistente .imagen img{
    border-radius: 10px;
    margin-bottom: 20px;
   }

   section.seccion1 h2{
    display: flex;
    justify-content: center;
    font-size: 33px;
    margin-top: 0px;
    margin-bottom: 50px;
   }

   div.servicios{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
   }

   article.emoji p{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
   }

   div.servicios article.primer{
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        font-size: 19px;
   }

   div.servicios article.segun{
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        font-size: 19px;
   }

   div.servicios article.tercer{
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        font-size: 19px;
   }

   div.servicios article.cuar{
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        font-size: 19px;
   }

   div.servicios article.quin{
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        font-size: 19px;
   }

   div.servicios article.sext{
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        font-size: 19px;
   }

   div.servicios article.detalles{
    font-size: 16px;
    padding-left: 10px;
    border-left: solid #0077B6 4px;
   }

   div.servicios article.primer{
    margin-left: 50px;
   }

  div.servicios article.segun{
    margin-right: 50px;
   }

   div.servicios article.tercer{
    margin-left: 50px;
   }

   div.servicios article.cuar{
    margin-right: 50px;
    padding-right: 60px;
   }

   div.servicios article.quin{
    margin-left: 50px;
    padding-right: 32px;
   }

   div.servicios article.sext{
    margin-right: 50px;
    padding-right: 80px;
   }

   span{
    color: #0077B6;
   }

   section.seccion2 h2{
    display: flex;
    justify-content: center;
    font-size: 33px;
    margin-top: 100px;
    margin-bottom: 0px;
   }

   section.seccion2 h4{
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 50px;
   }

   div.solucion{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 50px;
   }

   article.solu{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 19px;
    margin-left: 80px;
    border: solid #0077B6 4px;
   }

   article.solu2{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 19px;
    margin-right: 80px;
    border: solid #0077B6 4px;
   }

   span.medida{
    color: #0077B6;
    font-size: 30px;
   }

   section.seccion3{
    background-color: #0077B6;
    padding: 30px;
    padding-bottom: 70px;
   }

   section.seccion3 h2{
    display: flex;
    justify-content: center;
    font-size: 33px;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #FFFFFF;
   }

   section.seccion3 h4{
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 40px;
    color: #FFFFFF;
   }

   section.seccion3 a.boton2{
    background-color: #FFFFFF;
    color: #0077B6;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 6px;
    margin-top: 10px;
    margin: auto;
    width: 12%;
   }

=======
       border-top: solid 1px black;
   }
   .menu h1 {
       font-size: 3.5rem;
       margin: 0;
   }
   .menu h4 {
       font-size: 2rem;
       margin-top: 10px;
   }
   section.menu {
       height: 500px;
       background: url("../img/Inicio.webp") center/cover no-repeat;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       color: white;
       text-align: center;
       border-top: solid 1px black;
   }
   section.menu h1 {
       font-size: 3.5rem;
       margin: 0;
   }
   section.menu h4 {
       font-size: 2rem;
       margin-top: 10px;
   }
>>>>>>> f1ce1b56036f0cdf3e9514ed997708fff39e59a3
   footer {
       background: var(--azul-oscuro);
       color: white;
       padding: 40px 10%;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       gap: 30px;
       text-align: center;
<<<<<<< HEAD
   }
   footer .logo {
       height: 80px;
=======
       margin-top: 100px;
   }
   footer .logo {
       height: 50px;
       border-radius: 20px;
>>>>>>> f1ce1b56036f0cdf3e9514ed997708fff39e59a3
   }
   footer .red {
       width: 40px;
       margin: 0 10px;
<<<<<<< HEAD
   }

   /* ====================== TIENDA ONLINE ====================== */

   main h2{
    display: flex;
    justify-content: center;
    font-size: 33px;
    margin-top: 0px;
    margin-bottom: 50px;
   }

   main aside.aside1{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
   }

   main aside.aside2{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
   }

    article.planes{
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        font-size: 19px;
        transition: transform 0.3s;
   }

   article.planestop{
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        font-size: 19px;
        transition: transform 0.3s;
   }

   .planes:hover{
       transform: translateY(-5px);
   }

   .planestop:hover{
       transform: translateY(-5px);
   }

   .boton3{
    display: inline-block;
    background-color: #b7dfff;
    color: #0077B6;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 10px;
   }

    .boton3:hover{
    background-color:#a1c3df;
   }

   section.seccion4 h2{
    display: flex;
    justify-content: center;
    font-size: 33px;
    margin-top: 100px;
    margin-bottom: 50px;
   }

   div.puntos{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
   }

   div.puntos article.motivos{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 19px;
    text-align: center;
   }

   article.emoji2 p{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
   }

   section.seccion5 h2{
    display: flex;
    justify-content: center;
    font-size: 33px;
    margin-top: 100px;
    margin-bottom: 50px;
   }

   .preguntas{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 75px;
   }

   .frecuentes{
    background: white;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-bottom: 25px;
    transition: transform 0.3s;
   }

   .frecuentes:hover{
       transform: translateY(-5px);
   }

   section.seccion6{
    background-color: #0077B6;
    padding: 30px;
    padding-bottom: 70px;
   }

   section.seccion6 h2{
    display: flex;
    justify-content: center;
    font-size: 33px;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #FFFFFF;
   }

   section.seccion6 h4{
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 40px;
    color: #FFFFFF;
   }

   section.seccion6 a.boton3{
    background-color: #FFFFFF;
    color: #0077B6;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 6px;
    margin-top: 10px;
    margin: auto;
    width: 12%;
   }

   footer {
       background: var(--azul-oscuro);
       color: white;
       padding: 40px 10%;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       gap: 30px;
       text-align: center;
   }
   footer .logo {
       height: 80px;
   }
   footer .red {
       width: 40px;
       margin: 0 10px;
   }
=======
       border-radius: 10px;
   }
  
=======
    --azul-oscuro: #003366;
    --azul-medio: #0077B6;
    --azul-claro: #E6F0FF;
    --azul-muy-claro: #c6e6ff;
    --azul-fondo: #b7dfff;
    --texto-claro: #FFFFFF;
    --texto-oscuro: #333333;
    --gris-bordes: #ddd;
}

* {
   box-sizing: border-box;
}
body {
   margin: 0;
   background-color: #F5F5F5;
   color: var(--texto-oscuro);
   line-height: 1.6;
}
/* ====================== Nav ====================== */
a {
    text-decoration: none;
    color: inherit;
}
ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #162171;
   padding: 15px 30px;
}
nav .logo {
   height: 50px;
}
nav ul {
   display: flex;
   gap: 25px;
}
nav ul li a {
   color: var(--texto-claro);
   font-weight: bold;
   padding: 8px 15px;
}
nav ul li a:hover {
   background-color: var(--azul-oscuro);
}
.login{
   background-color: #0077B6;
   padding: 10px;
   color: white;
   border-radius: 40px;
}
/* ====================== Header ====================== */
.hero {
   height: 500px;
   background: url("../img/blog-2.png") center/cover no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;
}
.hero h1 {
   font-size: 3.5rem;
   margin: 0;
}
.hero h4 {
   font-size: 2rem;
   margin-top: 10px;
}
  .i{
   background: url("../img/fondo-banner-blog-memphis-tono-tierra_53876-114358.avif") center/cover no-repeat;
}
/* ====================== CONTACTO ====================== */
.contactanos{
   display: flex;
   justify-content: space-around;
   margin: 50px;
}
form {
   max-width: 600px;
   background: white;
   padding: 40px;
   border-radius: 15px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
form label {
   display: block;
   margin-top: 15px;
   font-weight: bold;
}
form input, form textarea {
   width: 100%;
   padding: 12px;
   margin-top: 8px;
   border: 1px solid #ccc;
   border-radius: 6px;
}
form textarea {
resize: none;
}
form button {
   margin-top: 20px;
   background: var(--azul-medio);
   color: white;
   padding: 12px 30px;
   font-size: 1.1rem;
}
form input{
    margin-right: 200px;
}
iframe{
    width: 100%;
    height: 60%;
}
.map{
   background: white;
   height: 600px;
   padding: 40px;
   border-radius: 15px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
   
/* ====================== FOOTER ====================== */
footer {
   background: #0E1422;
   color: white;
   padding: 40px 10%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 30px;
   text-align: center;
}
footer .logo {
   height: 100px;
}
footer .red {
   width: 40px;
   margin: 0 10px;
}
.redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
>>>>>>> f5b64ed1ef7a2f6d3ef7f5bc9f5da729d29bdf9a
>>>>>>> f1ce1b56036f0cdf3e9514ed997708fff39e59a3
